.account {
   display: inherit;
   flex: 1;
   padding: 16rem 6rem 0 6rem;
   background-color: $color-grey-light-1;
   z-index: 5;

   .user-view {
      background-color: $color-white;
      width: 100%;
      max-width: 120rem;
      margin: 0 auto;
      min-height: 100vh;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 2.5rem 8rem 2rem rgba($color-black, 0.07);
      display: flex;

      &__menu {
         flex: 32rem 0 0;
         background-image: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
         );
         padding: 4rem 0;
      }

      &__content {
         flex: 1;
         padding: 7rem 0;
      }

      &__form-container {
         max-width: 68rem;
         margin: 0 auto;
         padding: 0 8rem;
      }

      .side-nav {
         list-style: none;

         & li {
            margin: 1rem 0;
            border-left: 0 solid $color-white;
            transition: all 0.3s;
         }

         &--active,
         li:hover {
            border-left: 4px solid $color-white !important;
         }

         &--active a {
            transform: translateX(-3px);
         }

         a:link,
         a:visited {
            padding: 1rem 4rem;
            display: flex;
            align-items: center;
            color: $color-white;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 400;
            text-decoration: none;
            transition: all 0.3s;
         }

         a:hover,
         a:active {
            transform: translateX(3px);
         }

         svg {
            height: 1.9rem;
            width: 1.9rem;
            fill: $color-grey-light-1;
            margin-right: 2rem;
         }
      }

      .admin-nav {
         margin-top: 5.5rem;

         &__heading {
            margin: 0 5rem 1.5rem 4rem;
            padding-bottom: 3px;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $color-grey-light-2;
            border-bottom: 1px solid currentColor;
         }
      }

      .account-button-wrapper {
         display: flex;
         justify-content: flex-end;

         &__loading {
            max-width: 6rem;
            display: flex;
            align-items: center;
            margin-right: 3rem;
         }
      }
   }

   .line {
      margin: 6rem 0;
      width: 100%;
      height: 1px;
      background-color: #e0e0e0;
   }
}
