.loading-small {
   width: 100%;

   .cls-1 {
      fill: none;
      stroke: url(#grad-1);
      stroke-width: 6;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-dasharray: 1350;
      stroke-dashoffset: 0;
      -webkit-animation: dash 4s cubic-bezier(0.5, 0.2, 0.5, 0.8) infinite;
      -o-animation: dash 4s cubic-bezier(0.5, 0.2, 0.5, 0.8) infinite;
      -moz-animation: dash 3s cubic-bezier(0.5, 0.2, 0.5, 0.8) infinite;
      animation: dash 3s cubic-bezier(0.5, 0.2, 0.5, 0.8) infinite;
   }

   @keyframes dash {
      from {
         stroke-dashoffset: 2700;
      }
      to {
         stroke-dashoffset: 0;
      }
   }
}

.loading {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: $color-white;
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;

   svg {
      width: 50%;
   }
}
