@import url('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css');

.tour .section-mapbox {
   position: relative;
   height: 65rem;
   margin-top: calc(0px - 9vw);

   #mapbox {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
   }

   .mapboxgl-marker {
      background-image: url('/img/pin.png');
      background-size: cover;
      width: 32px;
      height: 40px;
      cursor: pointer;
   }

   .mapboxgl-popup {
      max-width: 25rem;
   }

   .mapboxgl-popup-content {
      text-align: center;
      font-family: 'Lato', sans-serif;
      padding: 1.5rem !important;
      font-size: 1.4rem;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.15) !important;
   }
}
